.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
log/
data/
.olb-config
/bin
/test-bin
.idea
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

application.yml
application.yaml
application.properties
